<!--<h1>Sessions#new</h1>-->
<!--<p>Find me in app/views/sessions/new.html.erb</p>-->


<!--<h1>Sessions#new</h1>-->
<!--<p>Find me in app/views/sessions/new.html.erb</p>-->

<%# provide(:title, "Log in") %>
<!--<h1>Log in</h1>-->

<!--<div class="row">-->
<!--  <div class="col-md-6 col-md-offset-3">-->
    <%#= form_for(:session, url: login_path) do |f| %>

      <%#= f.label :email %>
      <%#= f.email_field :email, class: 'form-control' %>

      <%#= f.label :password %>
      <%#= f.password_field :password, class: 'form-control' %>

      <%#= f.label :remember_me, class: "checkbox inline" do %>
        <%#= f.check_box :remember_me %>
<!--        <span>Remember me on this computer</span>-->
      <%# end %>

      <%#= f.submit "Log in", class: "btn btn-primary" %>
    <%# end %>

<!--    <p>New user? <%#= link_to "Sign up", signup_path %></p>-->
<!--  </div>-->
<!--</div>-->


<% if logged_in? %>
  <% flash[:danger] = "You are already logged in" %>
  <% controller.redirect_to root_path %>
<% else %>
<% provide(:title, "Log in") %>
<h1>Log in</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(:user, url: login_path) do |f| %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <div class="checkbox inline">
          <%= f.label :remember_me do %>
            <%= f.check_box :remember_me %>
            Remember me on this computer
          <% end %>
        </div>

        <%= f.submit "Log in", class: "btn btn-primary" %>
      <% end %>

      <p>New user? <%= link_to "Sign up", signup_path %></p>
    </div>
  </div>
<% end %>

