<% provide(:title, @seller.name) %>
<% provide(@seller.address, @seller.description) %>
<div class="row">
  <aside class="col-md-4">
    <section class="seller_info">
      <h1>
        <%= @seller.name %>
      </h1>
      <h3>
        <%= @seller.address %>
      </h3>
      <p>
      <%= @seller.description %>
      </p>

      <%= form_tag(edit_seller_path) do %>
        <%= hidden_field(:id, @seller.id) %>
        <%= submit_tag("Edit store account") %>
      <% end %>

      <%= link_to 'View Categories', categories_path(seller_id: @seller.id) %>

      <br>
      <%= link_to 'Add Item', new_item_path(seller_id: @seller.id), class: 'button' %>

      <h2>Items</h2>
      <%= render partial: "items/item_list", locals: { items: @items } %>

    </section>
  </aside>
</div>
