<% provide(:title, @seller.name) %>
<% provide(@seller.address, @seller.description) %>
<div class="row">
  <aside class="col-md-4">
    <section class="seller_info">
      <h1>
        <%= @seller.name %>
      </h1>
      <h3>
        <%= @seller.address %>
      </h3>
      <p>
      <%= @seller.description %>
      </p>

      <%= form_tag(edit_seller_path) do %>
        <%= hidden_field(:id, @seller.id) %>
        <%= submit_tag("Edit store account") %>
      <% end %>

      <%= form_for(@seller) do |f| %>
        <%= f.hidden_field :id  %>
        <%= f.submit "Edit details", class: "btn btn-primary" %>
      <% end %>


    </section>
  </aside>
</div>
