<% provide(:title, @seller.name) %>
<% provide(@seller.address, @seller.description) %>
<div class="row">
  <aside class="col-md-4">
    <section class="seller_info">
      <h1>
        <%= @seller.name %>
      </h1>
      <h3>
        <%= @seller.address %>
      </h3>
      <p>
      <%= @seller.description %>
      </p>

      <%= form_tag(edit_seller_path) do %>
        <%= hidden_field(:id, @seller.id) %>
        <%= submit_tag("Edit store account") %>
      <% end %>

      <%= link_to 'View Categories', categories_path, class: 'button' %>
      <br>
      <%= link_to 'Add Item', new_item_path, class: 'button' %>

      <h2>Items</h2>
      <% @items.each do |item| %>
        <p>
          <strong>Name:</strong>
          <%= item.name %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= item.description %>
        </p>

        <!-- Add more item details here -->
      <% end %>

    </section>
  </aside>
</div>
