<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <%#= image_tag @user.avatar.url %>
    </section>

    <section class="action_sidebar">
      <%= link_to "Access Seller accounts", select_seller_path, class: "btn btn btn-primary" %>
      <%= link_to "Access Buyer accounts", select_buyer_path, class: "btn btn btn-primary" %>
    </section>


    <b>Edit your profile:</b>
    <ul>
      <li><%= link_to "Settings", edit_user_path(current_user) %></li>

      <% if current_user && (current_user == @user || current_user.admin?) %>
        <li>
          <%= form_for @user, url: delete_user_path, method: :put, data: { confirm: 'Are you sure?' } do |f| %>
            <%= f.hidden_field :id  %>
            <%= f.submit "Delete Account" %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </aside>
