<% provide(:title, 'Create Buyer') %>
<h1>Edit Buyer Info</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@buyer) do |f| %>

      <%= f.hidden_field :user_id, :value => @user_id  %>

      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: 'form-control' %>

      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: 'form-control' %>

      <%= f.label :address %>
      <%= f.text_field :address, class: 'form-control' %>

      <%= f.label :payment_method %>
      <%= f.text_field :payment_method, class: 'form-control' %>

      <%= f.submit "Save buyer account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
