<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag "application", media: "all",
                          "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>

<header>
<!--  <h1>Main Header</h1>-->
  <%= render 'layouts/header' %>
  <!-- Your main header content goes here -->
</header>

<!--<nav>-->
<!--  <h2>Secondary Header</h2>-->
<!--</nav>-->

<!--<section>-->
<!--  <h3>Tertiary Header</h3>-->
<!--</section>-->

<div class="container">
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
  <%= yield %>
  <%= render 'layouts/footer' %>
</div>

</body>
</html>
